@import './root.css';
.search-bar{
    display: flex;
   
  width: 100%;
}
#search-button{
    margin-left: auto;
    background-color: white;
    color: var(--color-dark-variant);
}
main{
    margin-top: 1.4em;
    color: var(--color-dark);
}

main .city-temp .mid{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.4em;
}

/*#date{
   
    margin-top: 1em;
    padding: 0.5em 0.6em;
    
}*/
main .card{
    display: flex;
    background: white;
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1em;
   
    height: 300px;
    width: 100%;    
    background-image: url(https://marketplace.canva.com/EAFDL6gbGVM/1/0/1600w/canva-green-minimalist-illustrated-landscape-desktop-wallpaper-UwgW9eDIQrQ.jpg);
}

main .card .city-temp > div{
    display: grid;
    grid-template-rows: (3,1fr);
    /*box-shadow: var(--box-shadow);*/
}
/*main .card .top-lft{
    display: flex;
}*/
main .card .right-side{
    display: block;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    
}
main  > div{
    background: white;
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 0.8em;
    box-shadow: var(--box-shadow);
}

main .card2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1.2em;
}
main .card2 :hover{
    background-attachment: fixed;
   transform: scale(1.1);
   transition: 0.2s;
}

main .card2 > div{
    background: white;
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1em;
    box-shadow: var(--box-shadow);
}
.card .right-side img{
    width: 12em;
    height: 12em;
}
.card .right-side .description{
    text-align: center;
}
h6{
    color: darkgray;
}
main h1{
    display: flex;
    justify-content: center;
    
}