@import './root.css';
.right{
    margin-top: 1.4em;
    color: var(--color-dark);
}
.right .top{
    display: flex;
    justify-content: center;
    gap: 1em;
}
.right .top h1{
    display: none;
}
.right .top button{
    display: none;
}

.right .theme-toggle{
    background: var(--color-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 1.6em;
    width: 5em;
    cursor: pointer;
    border-radius: var(--border-radius1);

}
.right .theme-toggle span{
    font-size: 1.1em;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right .theme-toggle span.active{
    background-color: var(--color-primary);
    color: var(--color-white);
    border-radius: var(--border-radius1);
}
.right .forecast{
    margin-top: 1em;
    transition: all 300ms ease;
    color: var(--color-dark);
}
.right .forecast h2{
    margin-bottom: 0.8em;
    display: flex;
    justify-content: center;
}
.right .forecast .today{
    gap: 1em;
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
    
    margin-bottom: 0.8em;
}
.right .forecast .today .wDay{
    display: flex;
    justify-content: center;
    gap: 1em;
}
.right .forecast .today .today-items{
    display: flex;
    justify-content: space-between;
}
.right .forecast .today img{
    width: 2em;
    height: 2em;
}
.right .forecast .weather-forecast {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color-white);
    padding: 1em;
    border-radius: var(--card-border-radius);
    box-shadow: var(--box-shadow);
}
.right .forecast .weather-forecast .weather-forecast-item{
    width: 100%;
    display: flex;
    gap: 1em;
    background: var(--color-white);
    padding: 1em;
    border-radius: var(--border-radius3);
    box-shadow: var(--box-shadow);
    margin-bottom: 00.4em;
}
.right .forecast .weather-forecast .weather-forecast-item .day{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right .forecast .weather-forecast .weather-forecast-item .temp{
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right .forecast .weather-forecast .weather-forecast-item .w-icon{
    height: 2em;
    width: 2em;
}


@media screen and (max-width:768px) {
    .container{
        width: 100%;
        grid-template-columns: 1fr;
    }
    .right{
        width: 94%;
        margin: 0 auto 4em;
    }
    .right .top{
        position:fixed;
        top:0;
        left: 0;
        align-items: center;
        padding: 0 0 0.8em;
        height: 4.6em;
        background: var(--color-white);
        width: 100%;
        margin: 0;
        z-index: 2;
        box-shadow: 0 1em 1em var(--color-light);
    }
    .right .top h1{
        display: flex;
    }
    .right .top .theme-toggle{
        width: 4.4em;
        position: absolute;
        right: 2%;
    }
    .right .top button{
        display: inline-block;
        background: transparent;
        cursor: pointer;
        color: var(--color-dark);
        position: absolute;
        left:1em;
        
    }
}