@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap");

/*root variables*/
:root{
    --color-primary:#7380ec;
    --color-light:rgba(132,139,200,0.18);
    --color-success:#41f1b6;
    --color-warning:#ffbb55;
    --color-info-dark:#7d8da1;
    --color-info-light:#dce1eb;
    --color-dark:#363949;
    --color-dark-variant:#677483;
    --color-primary-variant:#111e88;
    --color-background:#f6f6f9;

    --card-border-radius:2em;
    --border-radius1:0.4em;
    --border-radius2:0.8em;
    --border-radius3:1.2em;

    --card-padding:1.8em;
    --padding-:1.2em;

    --box-shadow:0 2em 3em var(--color-light);
}

*{
    box-sizing: border-box;
    /*color:white;*/
    /*text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;*/
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
    appearance: none;
    text-decoration: none;
    
}
html{
    font-size: 14px;
}
h1{
    font-weight: 800;
    font-size: 1.8em;
    display: flex;
    
    align-items: center;
    margin: 1;
    
}
strong{
        color: #363949;
}
h2{
    font-size: 1.4em;
    font-weight: 600;
}
h3{
    font-size: 0.85em;
    font-weight: 600;
}
h4{
    font-size: 00.8em;
}
h5{
    font-size: 0.77em;
}
small{
    font-size: 0.75em;
}

body {

  /*justify-content: center;
  align-items: center;*/
  height: 100vh;
  width: 100vw;
  margin: 0;
  font-family: poppins, sans-serif;
    background: #222;
    font-size: 16px;
    user-select: none;
    overflow-x: hidden;
    /*font-family: Verdana, Geneva, Tahoma, sans-serif;*/
    background-image: url('https://wallpapers.com/images/hd/minimalist-blue-p7rf6qpodlj6n3g9.jpg');
    background-repeat: no-repeat;
  background-size: cover;
  transition: 500ms;

   /* background:var(--color-background);*/
    /*background: rgba(0, 0, 0, 0.4);*/
    
}
/*body::before{
    content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 0;
}*/

.container{
    display: grid;
    width: 70%;
    margin: 0 auto;
   /* background:#41f1b6;*/
    gap: 1.8em;
    grid-template-columns: 13em auto 4em;
}

a{
    color: var(--color-dark);
}
img{
    display: block;
    width: 100%;
}
.text-muted{
    color:var(--color-info-dark);
}

p{
    color: var(--color-dark-variant);
}
b{
    color: var(--color-dark);
}
.primary{
    color: var(--color-primary);
}
.success{
    color: var(--color-success);
}
.warning{
    color: var(--color-warning);
}